.products-container {
  margin: 50px;
  font-family: Arial, sans-serif;

  .header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }

  .products-title {
    flex-grow: 1; 
  }

  .button-container {
    display: flex;
    justify-content: flex-end; 
  }

  .add-button,
  .cart-button {
    background-color: #007bff;
    color: white;
    padding: 12px 40px;
    font-size: 16px;
    border-radius: 12px;
    margin-left: 20px; 
  }

  .arrow-cell {
    color: #007bff;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid;

    th,
    td {
      text-align: left;
      padding: 10px;
      border-right: 1.5px solid #797373;
      border-bottom: 1.5px solid #797373;
    }
  }
}
