.product-details-container {
  margin: 50px;
  width: 80%;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .products-title {
      flex-grow: 1;
    }

    .button-container {
      display: flex;
      justify-content: flex-end;

      .edit-button,
      .delete-button {
        background-color: #007bff;
        color: white;
        padding: 12px 40px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 12px;
        margin-left: 20px;
        cursor: pointer;
      }
    }
  }

  .product-details {
    border-collapse: collapse;
    border: 3px solid #ccc;

    th,
    td {
      text-align: left;
      padding: 10px;
      border-right: 1.5px solid #797373;
      border-bottom: 1.5px solid #797373;
    }
  }
}
